/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Host Grotesk;
}

.host-grotesk{
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #ff0000d7 0%, #ffffff 50%, transparent 30%);
}

.headon {
    text-align: center;
    padding: 2%;
    color: white;
}


#loginbutton {
border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
padding: 2%;
background-color: #ececec;
}

#regbutton {
border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
padding: 2%;
background-color: #ff0000;
}


.navbar {
    background: url(Background\ White.jpg);
    width: 100%;
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.logogomarket {
    background: url(Logo\ GoMarket.png) no-repeat center center;
    background-size: contain; 
    height: 100%; 
    width: 250px; 
    text-indent: -999px; 
}

.navitems {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navitems a {
    text-decoration: none;
    color: black;
}

.buscador {
    font-size: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border: 1.5px solid white;
    border-radius: 10px;
}

.search {
    background: url(Search\ Black.png) no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 40px;
    margin-right: 10px;
    text-indent: -999px;
    border: none;
}

.logocarrito {
    background: url(Carrito\ Black.png) no-repeat center center;
    background-size: contain; 
    height: 30px; 
    width: 100px; 
    text-indent: -9999px; 
    overflow: hidden;
    display: inline-block; 
    border: none;
    padding: 0; 
}

/*Estilos del login*/

.centro-loginbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
    margin-top: 1%;
}

.loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 600px;  
    width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    text-align: center; 
    padding: 20px;  
}

.loginh {
    margin: 80px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
}

.textcorreo {
    margin-top: 15%;
    text-align: start;
}

.logininput {
    margin-top: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 25px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.textpassword {
    margin-top: 5%;
    text-align: start;
}

.loginbutton {
    width: 100%;
    background-color: red;
    border-radius: 10px;
    padding: 7%;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    animation-delay: 10s;
    cursor: pointer;
    font-size: 20px;
}

.forgotpass {
    color: black;
    margin-top: 10px;
}


/* Estilos de la pagina de registo */

.centro-loginboxreg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
    margin-top: 1%;
}

.loginboxreg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 600px;  
    width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    text-align: center; 
    padding: 20px;  
}

.loginhreg {
    margin: 80px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    
}

.textcorreoreg {
    margin-top: 5%;
    text-align: start;
}

.logininputreg {
    margin-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 25px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.textpasswordreg {
    margin-top: 5%;
    text-align: start;
}

.loginbuttonreg {
    width: 100%;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 7%;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    animation-delay: 10s;
    cursor: pointer;
    font-size: 20px;
}

.forgotpassreg {
    color: black;
    margin-top: 10px;
}

/* ESTILOS DEL FORMULARIO DE CONTACTO */

.centro-loginboxCONT{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
    margin-top: 1%;
}

.loginboxCONT{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 600px;  
    width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    text-align: center; 
    padding: 20px;  
}

.loginhCONT{
    margin: 80px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    
}

.textcorreoCONT {
    margin-top: 5%;
    text-align: start;
}

.logininputCONT {
    margin-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 25px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.inputCONT {

    margin-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 35px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;

}

.textpasswordCONT {
    margin-top: 5%;
    text-align: start;
}

.loginbuttonCONT {
    width: 100%;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 5%;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    animation-delay: 10s;
    cursor: pointer;
    font-size: 20px;
}

.forgotpassCONT{
    color: black;
    margin-top: 10px;
}


/* ESTILOS DE LA PAGINA DE RECUPERACION DE CONTRASEÑA */


.centro-recoverybox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
    margin-top: 1%;
}

.loginboxREC{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    height: 400px;  
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    text-align: center; 
    padding: 20px;  
}

.loginhREC{
    margin: 80px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    
}

.textcorreoREC {
    margin-top: 15%;
    text-align: start;
}

.inputRec {
    margin-top: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 25px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.ChangeREC{
    width: 100%;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 3%;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    animation-delay: 10s;
    cursor: pointer;
    font-size: 20px;
}

.CancelarRec {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    color: black;
    margin-top: 1%;
    background-color: #ececec;
    padding: 3%;
    border-radius: 5px ;
}



/* ACA INICIAN LOS ESTILOS DEL FOOTER */

.generalfooter {
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0%;
    margin-top: 5%;    
    display: flex;
    flex-direction: row;
    gap: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: white;
}


.generalfooter a {
    color: black;
}


.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialig {
    background: url(instagram.png) no-repeat center center;
    background-size: contain; 
    height: 30px; 
    width: 100px; 
    text-indent: -9999px; 
    overflow: hidden;
    display: inline-block; 
    border: none;
    padding: 0; 
}


.x{
    background: url(X.png) no-repeat center center;
    background-size: contain; 
    height: 30px; 
    width: 100px; 
    text-indent: -9999px; 
    overflow: hidden;
    display: inline-block; 
    border: none;
    padding: 0; 
}


.socialfacebook{
    background: url(Facebook.png) no-repeat center center;
    background-size: contain; 
    height: 30px; 
    width: 100px; 
    text-indent: -9999px; 
    overflow: hidden;
    display: inline-block; 
    border: none;
    padding: 0;    
}


.categoriasitem li {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   margin-top: 20px;
   height: 100%;
}


.informacionitem li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 100%;
}

