/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Host Grotesk;
}

.host-grotesk{
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #ff0000d7 0%, #ffffff 50%, transparent 30%);
}

.headon {
    text-align: center;
    padding: 2%;
    color: white;
}


#loginbutton {
border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
padding: 2%;
background-color: #ececec;
}

#regbutton {
border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
padding: 2%;
background-color: #ff0000;
}


.navbar {
    background: url(Background\ White.jpg);
    width: 100%;
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.logogomarket {
    background: url(Logo\ GoMarket.png) no-repeat center center;
    background-size: contain; 
    height: 100%; 
    width: 250px; 
    text-indent: -999px; 
}

.navitems {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.navitems li{
    list-style: none;
    padding: 0 20 px;
    position: relative;

}

.navitems li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

.navitems li a:hover,
.navitems li a.active {
    color: #088178;
}

.navitems li a.active::after,
.navitems li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
} 

.buscador {
    font-size: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border: 1.5px solid white;
    border-radius: 10px;
}

.search {
    background: url(Search\ Black.png) no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 40px;
    margin-right: 10px;
    text-indent: -999px;
    border: none;
}

.logocarrito {
    background: url(Carrito\ Black.png) no-repeat center center;
    background-size: contain; 
    height: 30px; 
    width: 100px; 
    text-indent: -9999px; 
    overflow: hidden;
    display: inline-block; 
    border: none;
    padding: 0; 
}

/*Estilos del login*/

.centro-loginbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
    margin-top: 1%;
}

.loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 600px;  
    width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    text-align: center; 
    padding: 20px;  
}

.loginh {
    margin: 80px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
}

.textcorreo {
    margin-top: 15%;
    text-align: start;
}

.logininput {
    margin-top: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 25px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.textpassword {
    margin-top: 5%;
    text-align: start;
}

.loginbutton {
    width: 100%;
    background-color: red;
    border-radius: 10px;
    padding: 7%;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    animation-delay: 10s;
    cursor: pointer;
    font-size: 20px;
}

.forgotpass {
    color: black;
    margin-top: 10px;
}


/* Estilos de la pagina de registro */

.centro-loginboxreg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
    margin-top: 1%;
}

.loginboxreg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 600px;  
    width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    text-align: center; 
    padding: 20px;  
}

.loginhreg {
    margin: 80px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    
}

.textcorreoreg {
    margin-top: 5%;
    text-align: start;
}

.logininputreg {
    margin-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 25px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.textpasswordreg {
    margin-top: 5%;
    text-align: start;
}

.loginbuttonreg {
    width: 100%;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 7%;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    animation-delay: 10s;
    cursor: pointer;
    font-size: 20px;
}

.forgotpassreg {
    color: black;
    margin-top: 10px;
}

/* ESTILOS DEL FORMULARIO DE CONTACTO */

.centro-loginboxCONT{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
    margin-top: 1%;
}

.loginboxCONT{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 600px;  
    width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    text-align: center; 
    padding: 20px;  
}

.loginhCONT{
    margin: 80px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    
}

.textcorreoCONT {
    margin-top: 5%;
    text-align: start;
}

.logininputCONT {
    margin-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 25px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.inputCONT {

    margin-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 35px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;

}

.textpasswordCONT {
    margin-top: 5%;
    text-align: start;
}

.loginbuttonCONT {
    width: 100%;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 5%;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    animation-delay: 10s;
    cursor: pointer;
    font-size: 20px;
}

.forgotpassCONT{
    color: black;
    margin-top: 10px;
}

/*Estilos página productos*/
.section-p1{
    padding: 40px 80px;
}
.navbarcategorias {
    background-color: white;
    width: 100%;
    padding: 20px;
    height: 50px;
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.navitemscategorias {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15%;
    margin: 0;
    list-style: none;
}

.navitemscategorias li{
    list-style: none;
    padding: 0 20 px;
    position: relative;

}

.navitemscategorias li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

.navitemscategorias li a:hover,
.navitemscategorias li a.active {
    color: #088178;
}

.navitemscategorias li a.active::after,
.navitemscategorias li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
} 

.pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}


.pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30 px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.pro:hover{
    box-shadow: 20px 20px 30 px rgba(0, 0, 0, 0.6);
}

.pro img{
    width: 100%;
    border-radius: 20px;
}

.pro .des{
    text-align: start;
    padding: 10px 0;
}

.pro .des span{
    color: #606063;
    font-size: 12px;
}

.pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.pro .des i{
    font-size: 12px;
    color: rgb(243,181, 25);
}

.pro .des h4{
    padding-top: 7px;
    color: #088178;
    font-weight: 700;
    font-size: 15px;
}

.pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* ESTILOS DE LA PAGINA DE RECUPERACION DE CONTRASEÑA */

.centro-recoverybox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
    margin-top: 1%;
}

.loginboxREC{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    height: 400px;  
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    text-align: center; 
    padding: 20px;  
}

.loginhREC{
    margin: 80px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    
}

.textcorreoREC {
    margin-top: 15%;
    text-align: start;
}

.inputRec {
    margin-top: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    padding: 25px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.ChangeREC{
    width: 100%;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 3%;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    animation-delay: 10s;
    cursor: pointer;
    font-size: 20px;
}

.CancelarRec {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    color: black;
    margin-top: 1%;
    background-color: #ececec;
    padding: 3%;
    border-radius: 5px ;
}



/* ACA INICIAN LOS ESTILOS DEL FOOTER */

.generalfooter {
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0%;
    margin-top: 5%;    
    display: flex;
    flex-direction: row;
    gap: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: white;
}


.generalfooter a {
    color: black;
}


.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialig {
    background: url(instagram.png) no-repeat center center;
    background-size: contain; 
    height: 30px; 
    width: 100px; 
    text-indent: -9999px; 
    overflow: hidden;
    display: inline-block; 
    border: none;
    padding: 0; 
}


.x{
    background: url(X.png) no-repeat center center;
    background-size: contain; 
    height: 30px; 
    width: 100px; 
    text-indent: -9999px; 
    overflow: hidden;
    display: inline-block; 
    border: none;
    padding: 0; 
}


.socialfacebook{
    background: url(Facebook.png) no-repeat center center;
    background-size: contain; 
    height: 30px; 
    width: 100px; 
    text-indent: -9999px; 
    overflow: hidden;
    display: inline-block; 
    border: none;
    padding: 0;    
}


.categoriasitem li {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   margin-top: 20px;
   height: 100%;
}


.informacionitem li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 100%;
}

/* Estilo Descripcion de productos DP
---------------------------------------------------------------------------------------- */
.main-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 10rem;
    width: 100%;
    /* background-color: #12046e; */
}

.product-detail {
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.product-image {
    flex: 1;
}

.product-image img {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
}

.product-info {
    flex: 2;
}

.product-info h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.product-tag {
    display: inline-block;
    background-color: #d4f1d4;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    color: #2a7c2a;
    font-weight: 500;
    margin-bottom: 1rem;
}

.product-price {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
    font-weight: 700;
}

.product-desc {
    margin-bottom: 1.5rem;
    color: #666;
    font-size: 1.1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.btn-comprar {
    background-color: #44825c;
    color: #fff;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: #333;
}

.description {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    color: #555;
}

.reviews {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 100vh;
    background-color: #000; */
}

.reviews h2 {
    margin: 0;
    text-align: left;
}

.reviews .review-cards {
    display: flex; /* Los <div> estarán en una fila */
    gap: 40px; /* Espacio entre los <div> */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    
}

.review-card {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;    
    text-align: left;
    flex: 1;
    min-width: 150px;
}

.rating {
    font-size: 24px;
    color: #ff9900; /* Color dorado para las estrellas */
}

.star {
    margin-right: 5px;
}

.review-card h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}


.newsletter {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 3rem;
}

.newsletter input {
    padding: 0.75rem;
    width: 60%;
    max-width: 400px;
    margin-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.newsletter .btn-suscribir {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

/* ---------------------------------------------------------------------------------- */
